<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Server" value=".\SIMS_2012"/>
    <add key="Database" value="EngGA2"/>
    <add key="User" value="blacka"/>
    <add key="Password" value="abcd"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
